<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>

    <WebPublishMethod>MSDeploy</WebPublishMethod>

    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>

    <LastUsedPlatform>Any CPU</LastUsedPlatform>

    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>

    <ExcludeApp_Data>false</ExcludeApp_Data>

    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>

    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>

    <EnableMSDeployBackup>true</EnableMSDeployBackup>

    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>

    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>

    <SiteUrlToLaunchAfterPublish>__SITE_URL__</SiteUrlToLaunchAfterPublish>

    <MSDeployServiceURL>__MSDEPLOY_URL__</MSDeployServiceURL>

    <DeployIisAppPath>__MSDEPLOY_SITE__</DeployIisAppPath>

    <UserName>__MSDEPLOY_USERNAME__</UserName>

    <Password>__MSDEPLOY_PASSWORD__</Password>

    <_SavePWD>false</_SavePWD>

  	<AspNetCoreHostedModeStdoutLogEnabled>true</AspNetCoreHostedModeStdoutLogEnabled>
    <AspNetCoreHostingModel>OutOfProcess</AspNetCoreHostingModel>
  </PropertyGroup>
</Project>